<div class="container">
    <h1>LOGIN</h1>
    <form>
        <div class="mb-3" [formGroup]="form">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Logear</button>
    </form>
<div class="boton-cnt"><a routerLink="/home" class="btn btn-primary" >Volver</a></div>
</div>