<div class="container">
    <h1>LOGIN</h1>
    <form [formGroup]="form"> 
        <div class="mb-3" >
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="logear()" >Logear</button>
    </form>
<div class="boton-cnt"><a routerLink="/home" class="btn btn-secondary" >Volver</a></div>
</div>